* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: antiquewhite;
  overflow-x: hidden;
}

.body__contacto {
  background-color: antiquewhite;
}

.body__clientes {
  background-color: coral;
}

/*inicio de estilos de clientes*/
.foto-cliente {
  width: 200px;
  height: 150px;
}

.contenedor {
  margin: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 2, 2fr;
  grid-template-rows: 2, 3fr;
  grid-template-areas: " ana paula" "juana federica";
}

.ana {
  grid-area: ana;
}

.paula {
  grid-area: paula;
}

.juana {
  grid-area: juana;
}

.federica {
  grid-area: federica;
}

.caja {
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.descripcion-clientes {
  font-size: 20px;
  margin: 20px;
  align-items: center;
  text-align: center;
}

@media (max-width: 700px) {
  .contenedor {
    grid-template-columns: 1, 2fr;
    grid-template-rows: 4, 3fr;
    grid-template-areas: " ana" "juana" "paula" "federica";
  }
  .ana {
    grid-area: ana;
  }
  .paula {
    grid-area: paula;
  }
  .juana {
    grid-area: juana;
  }
  .federica {
    grid-area: federica;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .contenedor {
    grid-template-columns: 3, 2fr;
    grid-template-rows: 4, 3fr;
    grid-template-areas: " ana juana paula" "federica 0 0";
  }
  .ana {
    grid-area: ana;
  }
  .paula {
    grid-area: paula;
  }
  .juana {
    grid-area: juana;
  }
  .federica {
    grid-area: federica;
  }
}
@media screen and (min-width: 1500px) {
  .foto-cliente {
    width: 350px;
    height: 250px;
  }
  .contenedor {
    margin: 40px;
    gap: 40px;
    align-items: center;
    grid-template-columns: 2, 2fr;
    grid-template-rows: 2, 3fr;
    grid-template-areas: "ana juana" "paula federica";
  }
  .contenedor .ana {
    grid-area: ana;
  }
  .contenedor .paula {
    grid-area: paula;
  }
  .contenedor .juana {
    grid-area: juana;
  }
  .contenedor .federica {
    grid-area: federica;
  }
  .caja {
    width: 100%;
  }
  .caja:hover {
    transform: scale(1.1);
  }
}
/*fin de clientes*/
/*fin de clientes*/
/*comienzo de estilos index*/
.container-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-historia_historia {
  font-size: 20px;
  max-width: 1200px;
  margin: 40px 0;
  text-align: center;
  color: coral;
  padding: 0 20px;
}

.container-historia_historia > p {
  color: black;
}

/*acerca de nosotros*/
.titulo {
  color: coral;
}

.ul-quienes-somos {
  list-style: none;
  padding: 15px;
  text-align: center;
}

.titulo-quienes-somos {
  margin: 30px 0;
  text-align: center;
}

.foto-quienes-somos {
  width: 90vw;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contenedor-ac {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*fin ac*/
/* servicios*/
.container-edp {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.colum-1 {
  max-width: 400px;
}
.colum-1 h1 {
  font-size: 32px;
  text-align: center;
  color: coral;
}
.colum-1 p {
  font-size: 20px;
  color: black;
  margin: 15px;
}

.colum-2 {
  max-width: 400px;
}
.colum-2 h1 {
  font-size: 24px;
  text-align: center;
}
.colum-2 p {
  font-size: 14px;
  color: black;
  margin: 15px;
  text-align: center;
}

.colum-3 {
  max-width: 400px;
}
.colum-3 h1 {
  font-size: 24px;
  text-align: center;
}
.colum-3 p {
  font-size: 14px;
  color: black;
  margin: 15px;
  text-align: center;
}

.colum-4 {
  max-width: 400px;
}
.colum-4 h1 {
  font-size: 24px;
  text-align: center;
}
.colum-4 p {
  font-size: 14px;
  color: black;
  margin: 15px;
  text-align: center;
}

.row-1 {
  margin-top: 10px;
  display: flex;
}

.row-2 {
  margin-top: 10px;
  display: flex;
}

.row-3 {
  margin-top: 10px;
  display: flex;
}

.row-4 {
  margin-top: 10px;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .container-edp {
    flex-wrap: wrap;
  }
  .colum-1 {
    max-width: 100%;
  }
  .colum-2,
.colum-3,
.colum-4 {
    margin-top: 20px;
    max-width: 100%;
  }
}
/*fin de servicios*/
/*navbar*/
.container-fluid {
  font-size: 20px;
}

.navbar-brand {
  font-size: 25px;
}

/*fin navbar*/
/*Carrusel y titulo*/
.info-carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-carrusel_info {
  text-align: center;
  margin: 30px 0;
}

.info-carrusel_carrousel-container {
  border-radius: 8px;
  position: relative;
  width: 90vw;
  max-width: 1000px;
  height: 550px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider {
  display: flex;
  margin-left: -100%;
  width: 300%;
  height: inherit;
}

.slider-section {
  height: 100%;
  width: 100%;
}

.slider-section > img {
  height: inherit;
  width: inherit;
  object-position: center;
}

.slider-control {
  color: rgb(255, 68, 0);
  cursor: pointer;
  font-size: 2.5rem;
  height: 32px;
  justify-content: center;
  opacity: 60%;
  position: absolute;
  top: 43%;
  width: 32px;
}

.slider-rigth {
  right: 10px;
}

.slider-left {
  left: 10px;
}

@media screen and (max-width: 800px) {
  .carrousel-container {
    border-radius: 8px;
    position: relative;
    width: 100vw;
    max-width: 1000px;
    height: 400px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .slider-section > img {
    height: inherit;
    width: inherit;
    object-position: center;
    object-fit: cover;
  }
}
/*Fin de Carrusel y titulo*/
/*Peinados en tendencias*/
.container-peinados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0;
}

.container-peinados_peinado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.container-peinados_peinado > h2 {
  margin-bottom: 20px;
}

.container-peinados_peinado_fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-peinados_peinado_fotos > img {
  width: 100%;
  height: 100%;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  object-fit: cover;
  margin: 20px 0;
}

/*Fin de tendencias*/
.footer {
  width: 100vw;
  background: coral;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  text-align: center;
}

.footer_social-medias {
  display: flex;
  justify-content: center;
}

.footer_social-medias > img {
  width: 40px;
  margin-right: 10vw;
}

.footer_social-medias > :last-child {
  margin-right: 0;
}

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.footer_info_item {
  margin-bottom: 10px;
}

/*.container-footer-all {
    width: 100vw;
    max-width: 1200px;

}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
    margin: 10px;

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
        color: black;
        margin-top: 20px;
    }
}

.colum2 {
    max-width: 400px;
    margin: 10px;

    h1 {
        font-size: 22px;
    }

}

.row-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 10px;

    img {
        width: 40px;
        margin-right: 10px;
    }

    label {
        color: black;
    }
}

.colum3 {
    max-width: 400px;
    margin: 10px;

    h1 {
        font-size: 22px;
    }
}

.row2 {
    margin-top: 20px;
    display: flex;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }

    label {
        margin-top: 10px;
        margin-left: 20px;
        max-width: 140px;
    }
}

.conteiner-footer {
    width: 100%;
    background: wheat;
}

.copyright {
    color: black;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

.a-footer {
    text-decoration: none;
    color: black;

}

.pie-pagina {
    max-width: 1200px;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}*/
/*grilla galeria servicios*/
/*inicio*/
.galeria-contenedor {
  padding: 2vh 7.5vw;
}

.galeria-grilla {
  height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 15vh);
  grid-template-areas: "img2 img2 img2 img4 img4" "img2 img2 img2 img4 img4" "img3 img3 img1 img1 img1" "img3 img3 img1 img1 img1" "img3 img3 img5 img5 img5" "img3 img3 img5 img5 img5";
}

.galeria-grilla > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-img1 {
  grid-area: img1;
}

.galeria-img2 {
  grid-area: img2;
}

.galeria-img3 {
  grid-area: img3;
}

.galeria-img4 {
  grid-area: img4;
}

.galeria-img5 {
  grid-area: img5;
}

@media screen and (max-width: 1100px) {
  .galeria-grilla {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 10vh);
    grid-template-areas: "img2 img2 img2 img4" "img2 img2 img2 img4" "img3 img3 img1 img1" "img3 img3 img1 img1" "img3 img3 img5 img5" "img3 img3 img5 img5";
  }
  .galeria-grilla .galeria-grilla > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .galeria-grilla .galeria-img1 {
    grid-area: img1;
  }
  .galeria-grilla .galeria-img2 {
    grid-area: img2;
  }
  .galeria-grilla .galeria-img3 {
    grid-area: img3;
  }
  .galeria-grilla .galeria-img4 {
    grid-area: img4;
  }
  .galeria-grilla .galeria-img5 {
    grid-area: img5;
  }
}
@media screen and (max-width: 1100px) and (max-width: 740px) {
  .galeria-grilla {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 10vh);
    grid-template-areas: "img2 img2 " "img2 img2 " "img4 img4" "img4 img4" "img3 img3" "img3 img3" "img1 img1" "img1 img1" "img5 img5" "img5 img5";
  }
  .galeria-grilla .galeria-grilla > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .galeria-grilla .galeria-img1 {
    grid-area: img1;
  }
  .galeria-grilla .galeria-img2 {
    grid-area: img2;
  }
  .galeria-grilla .galeria-img3 {
    grid-area: img3;
  }
  .galeria-grilla .galeria-img4 {
    grid-area: img4;
  }
  .galeria-grilla .galeria-img5 {
    grid-area: img5;
  }
}
/*fin*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.form-container h1 {
  margin-bottom: 30px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
}
.form-container form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-container form div input, .form-container form div select, .form-container form div textarea {
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 3px 0;
  padding-left: 7px;
}
.form-container form div input:focus, .form-container form div select:focus, .form-container form div textarea:focus {
  outline: none;
  padding-left: 7px;
  outline: 1px solid coral;
}
.form-container form div button {
  border: none;
  background-color: coral;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0;
  transition: background 0.3s ease-in;
}
.form-container form div button:hover {
  background-color: rgb(255, 68, 0);
}
.form-container form :last-child > :first-child {
  margin-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */
