* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

.foto-cliente {
  width: 200px;
}

.contenedor {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 25vh 25vh;
}

.caja {
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 15px;
}
.caja:hover {
  transform: scale(1.1);
}

.banner-text {
  text-align: center;
}

.carousel-inner {
  width: 80%;
  height: 100%;
  margin: 150px;
}

footer {
  margin-top: 50px;
  background: linear-gradient(to right, violet, antiquewhite);
}

.galeria-contenedor {
  padding: 2vh 7.5vw;
}

.galeria-grilla {
  height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 15vh);
  grid-template-areas: "img2 img2 img2 img4 img4" "img2 img2 img2 img4 img4" "img3 img3 img1 img1 img1" "img3 img3 img1 img1 img1" "img3 img3 img5 img5 img5" "img3 img3 img5 img5 img5";
}

.galeria-grilla > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-img1 {
  grid-area: img1;
}

.galeria-img2 {
  grid-area: img2;
}

.galeria-img3 {
  grid-area: img3;
}

.galeria-img4 {
  grid-area: img4;
}

.galeria-img5 {
  grid-area: img5;
}

.contenedor-galeria {
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 25vh 25vh;
}

.grilla-parrafo {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 15px;
  grid-template-areas: "grilla-h1p1 grilla-h1p2" "grilla-img1 grilla-img2" "grilla-parrafo1 grilla-parrafo2";
}

.grilla-parrafo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grilla-h1p1 {
  grid-area: grilla-h1p1;
  text-align: center;
}

.grilla-h1p2 {
  grid-area: grilla-h1p2;
  text-align: center;
}

.grilla-img1 {
  grid-area: grilla-img1;
}

.grilla-img2 {
  grid-area: grilla-img2;
}

.grilla-parrafo1 {
  grid-area: grilla-parrafo1;
}

.grilla-parrafo2 {
  grid-area: grilla-parrafo2;
}

.contenedor-servicios {
  display: grid;
  width: 100%;
  height: 50%;
}

.grilla-servicios {
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(4, 6fr);
  grid-template-areas: "grilla-intro-titulo grilla-intro-titulo grilla-intro-titulo" "grilla-intro-parrafo grilla-intro-parrafo grilla-intro-parrafo" "grilla-titulo-E grilla-titulo-D grilla-titulo-P" "grilla-parrafo-E grilla-parrafo-D grilla-parrafo-P";
}

.grilla-intro-titulo {
  grid-area: grilla-intro-titulo;
  text-align: center;
}

.grilla-intro-parrafo {
  grid-area: grilla-intro-parrafo;
}

.grilla-titulo-E {
  grid-area: grilla-titulo-E;
  text-align: center;
}

.grilla-titulo-D {
  grid-area: grilla-titulo-D;
  text-align: center;
}

.grilla-titulo-P {
  grid-area: grilla-titulo-P;
  text-align: center;
}

.grilla-parrafo-E {
  grid-area: grilla-parrafo-E;
}

.grilla-parrafo-D {
  grid-area: grilla-parrafo-D;
}

.grilla-parrafo-P {
  grid-area: grilla-parrafo-P;
}

.contenedor-grilla-ac {
  display: grid;
  width: 100%;
  height: 50%;
}

.grilla-ac {
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(4, 15vh);
  grid-template-areas: "titulo-qs titulo-qs" "parrafo-qs parrafo-qs" "titulo-obj titulo-metodo" "parrafo-obj lista-metodo";
}

.titulo-qs {
  grid-area: titulo-qs;
  text-align: center;
}

.parrafo-qs {
  grid-area: parrafo-qs;
}

.titulo-obj {
  grid-area: titulo-obj;
}

.titulo-metodo {
  grid-area: titulo-metodo;
}

.parrafo-obj {
  grid-area: parrafo-obj;
}

.lista-metodo {
  grid-area: lista-metodo;
}

/*# sourceMappingURL=styles.css.map */
