.footer {
    width: 100vw;
    background: coral;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    text-align: center;
}

.footer_social-medias{ 
    display: flex;
    justify-content: center;
}

.footer_social-medias > img {
    width: 40px;
    margin-right: 10vw;
}

.footer_social-medias > :last-child{
    margin-right: 0;
}

.footer_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.footer_info_item{
    margin-bottom: 10px;
}


/*.container-footer-all {
    width: 100vw;
    max-width: 1200px;

}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
    margin: 10px;

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
        color: black;
        margin-top: 20px;
    }
}

.colum2 {
    max-width: 400px;
    margin: 10px;

    h1 {
        font-size: 22px;
    }

}

.row-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 10px;

    img {
        width: 40px;
        margin-right: 10px;
    }

    label {
        color: black;
    }
}

.colum3 {
    max-width: 400px;
    margin: 10px;

    h1 {
        font-size: 22px;
    }
}

.row2 {
    margin-top: 20px;
    display: flex;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }

    label {
        margin-top: 10px;
        margin-left: 20px;
        max-width: 140px;
    }
}

.conteiner-footer {
    width: 100%;
    background: wheat;
}

.copyright {
    color: black;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

.a-footer {
    text-decoration: none;
    color: black;

}

.pie-pagina {
    max-width: 1200px;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}*/