*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.body{
    font-family:Arial, Helvetica, sans-serif;
}
header{
   background:linear-gradient(to right, violet,antiquewhite);
   color: black;
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

header h1{
    text-align: center;
}

 header nav ul{
    display: flex;
    justify-content: space-between;
 } 
.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2{
   color:blueviolet;
    text-align: center;
   }
/*-----banner----*/
.banner{
    padding: 20px;
}
.banner img{
    width: 100%
}
.banner-text{
    height: 30vh;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    margin-top: 30px;
    padding: 0px 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
form input {
    margin-bottom: 20px;
}
form button{
    margin-top: 20px;
}
footer{
    margin-top: 50px;
    background: linear-gradient(to right,violet, antiquewhite);
}
.contenedor{
   display:grid;
   grid-template-columns: 50vw 50vw;
   grid-template-rows: 50vw 50vw;
}
.foto-cliente{
    width: 200px;
}

@media (min-width: 1024px){
header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

header nav{
        width: 40%
    }
}